@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary text-white
}

#root {
  max-width: var(--max-width-default);
  width: 100%;
  margin: 0 auto;
  padding: var(--padding-default);
  text-align: center;
}
