@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --max-width-default: 100vw;
  --padding-default: 2rem;
  --header-height: 5rem;

  --color-primary: #3C3D40;
  --color-secondary: #D7D7D9;
  --color-accent: #666A73;
  --color-dark: #222326;
  --color-lightGray: #9FA3A6;
  --color-contrast: #FFC107;

  --ff: Poppins, sans-serif;
  --h1: bold 1.125rem/1.4em var(--ff);
  --h2: bold 1rem/1.4em var(--ff);
  --p: 1rem/1.4em var(--ff);
  --p2: .875rem/1.4em var(--ff);
  --pxs: .75rem/1.4em var(--ff);

  --gray100: hsl(0, 0%, 100%);
  --gray70: hsl(0, 0%, 70%);
  --gray0: hsl(0, 0%, 0%);

  --background-color: var(--color-dark);
}

html {
  scroll-snap-type: y mandatory;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: var(--color-contrast);
}

body {
  background-color: var(--background-color);
  color: white;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font: var(--pxs);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
button:hover {
  transform: scale(1.05);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  font: var(--h1);
}

h2 {
  font: var(--h2);
}

p {
  font: var(--p);
  color: var(--gray100);
}

.text-secondary {
  font: var(--p2);
  color: var(--gray70);
}

.text-small {
  font: var(--pxs);
  color: var(--gray70);
}

.text-start {
  text-align: start;
}


@media (min-width: 1200px) {
  section {
    scroll-snap-align: start;
  }
}

@media (max-width: 560px) {
  :root {
    --padding-default: 1rem;
  }
}